@media screen and (max-width: 1024px) {
    
    .container {
    max-width: 1000px;
    margin: 0 auto;
}
    .header__menu-list a {
    color: #fff;
    font-size: 13px;
}
    .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    max-width: 900px;
    margin: 0 auto;
}
    .raitings__container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 195px;
    
}
    .raiting__site {
    margin-top: 85px;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content: space-around;
}
    table {
    margin-top: 30px;
    border: 1px solid gray;
    max-width: 900px;
    border-spacing: 0;
    
}

table td {
    padding: 10px;
}

.tarif__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

thead td{
    color: #cccccc;
    font-size: 14px;
    padding: 10px 1px;
    white-space: nowrap;
}

.tarif__td-name--mak {
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
    .tarif__td-name--gb, .tarif__td-name--site, .tarif__td-name--bd, .tarif__td-name--load, .tarif__td-name--rub {
    color: #7f7f7f;
    font-size: 14px;
}
    .tarif__td-name--rub {
    font-weight: bold;
    font-size: 15px;
    color: #01e35a;
    padding: 10px 0;
}
    .tarif__list {
        margin: 0px auto;
    }
    
     .footer__content {
    display: flex;
    max-width: 1000px;
}
    .footer__container {
    display: flex;
    justify-content: space-around;
    min-width: 900px!important;
}


    
    
}





@media screen and (max-width: 1366px) {
    
    /*header*/
    
    .container {
    max-width: 1200px;
    margin: 0 auto;
}
    
    .header__menu-list li {
    display: block;
    margin: 0 30px
}
    .header__content-container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
    /*footer*/
    
    .footer__content {
    display: flex;
    max-width: 1100px;
}
    .footer__container {
    display: flex;
    justify-content: space-between;
    min-width: 1100px;
}
}